<div class="character">
    <div class="character__title">
        <h5>{{name}}</h5>
    </div>
    <div class="character__content">
        <div class="character__content--image">
            <img src="{{image}}" alt="Not found">
        </div>
        <div>
            <div class="character__content--item">
                <div for="">Comics Disponibles</div>
                <div>:</div>
                <div>
                    {{comicsNumber}}
                </div>
            </div>
            <div class="character__content--item">
                <div for="">Series Disponibles</div>
                <div>:</div>
                <div>
                    {{seriesNumber}}
                </div>
            </div>
            <div class="character__content--item">
                <div for="">Historias Disponibles</div>
                <div>:</div>
                <div>
                    {{storiesNumber}}
                </div>
            </div>
            <div class="character__content--item">
                <div for="">Eventos Disponibles</div>
                <div>:</div>
                <div>
                    {{eventsNumber}}
                </div>
            </div>
        </div>
    </div>
</div>